In [121]:

#Importing pandas and numpty
import pandas as pd
import numpy as np

In [143]:
#Reading csv. file gave issue so i had to deleter everything but date
yahoo = pd.read_csv('/yahoo.csv')

#displaying data
yahoo

          no        date
0          1  11/21/2019
1          2  11/21/2019
2          3  11/21/2019
3          4  11/21/2019
4          5  11/21/2019
...      ...         ...
73063  67901   4/28/2020
73064  67902   4/28/2020
73065  67903   4/28/2020
73066  67904   4/28/2020
73067  67905   4/28/2020

[73068 rows x 2 columns]

In [126]:
#Showing dates of data
dates=yahoo['date']
dates

0        11/21/2019
1        11/21/2019
2        11/21/2019
3        11/21/2019
4        11/21/2019
            ...
73063     4/28/2020
73064     4/28/2020
73065     4/28/2020
73066     4/28/2020
73067     4/28/2020
Name: date, Length: 73068, dtype: object

In [127]:
#Converting dataset for calculations
yahoo.dtypes
data_date = pd.to_datetime(yahoo['date'], format='%m/%d/%Y')

data_date

0       2019-11-21
1       2019-11-21
2       2019-11-21
3       2019-11-21
4       2019-11-21
           ...
73063   2020-04-28
73064   2020-04-28
73065   2020-04-28
73066   2020-04-28
73067   2020-04-28
Name: date, Length: 73068, dtype: datetime64[ns]

In [128]:
#Showing the max date in dataset
data_date.max()

Timestamp('2020-04-28 00:00:00')

In [129]:
#Adding new column to dataset for difference in days
yahoo["Date_Difference(Days)"] = (data_date - data_date.max())

yahoo

          no        date Date_Difference(Days)
0          1  11/21/2019             -159 days
1          2  11/21/2019             -159 days
2          3  11/21/2019             -159 days
3          4  11/21/2019             -159 days
4          5  11/21/2019             -159 days
...      ...         ...                   ...
73063  67901   4/28/2020                0 days
73064  67902   4/28/2020                0 days
73065  67903   4/28/2020                0 days
73066  67904   4/28/2020                0 days
73067  67905   4/28/2020                0 days

[73068 rows x 3 columns]

In [130]:
#converting days to months in new column
yahoo["Date_Difference(Months)"] = yahoo["Date_Difference(Days)"] / np.timedelta64(1, 'M')

yahoo

          no        date Date_Difference(Days)  Date_Difference(Months)
0          1  11/21/2019             -159 days                -5.223927
1          2  11/21/2019             -159 days                -5.223927
2          3  11/21/2019             -159 days                -5.223927
3          4  11/21/2019             -159 days                -5.223927
4          5  11/21/2019             -159 days                -5.223927
...      ...         ...                   ...                      ...
73063  67901   4/28/2020                0 days                 0.000000
73064  67902   4/28/2020                0 days                 0.000000
73065  67903   4/28/2020                0 days                 0.000000
73066  67904   4/28/2020                0 days                 0.000000
73067  67905   4/28/2020                0 days                 0.000000

[73068 rows x 4 columns]

In [144]:
#New Dataset saved as a csv

yahoo.to_csv(r'yahoo_clean.csv', index=False)